@import "tailwindcss";

@theme {
  --color-primary: #607AFB;
  --color-background-light: #f5f6f8;
  --color-background-dark: #0f1323;
  --color-card-dark: #192434;
  --color-border-dark: #324867;
  --color-safety: #ef4444;

  --font-display: "Lexend", sans-serif;

  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

@layer base {
  body {
    @apply font-display bg-background-light dark:bg-background-dark text-slate-900 dark:text-white;
    -webkit-tap-highlight-color: transparent;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}